:root {
    --raisinBlack: #342e37;
    --orange: #fa824c;
    --grey: #6b818c;
    --white: #ecf4f0;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--raisinBlack);
    color: var(--white);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

a {
    color: var(--white);
    text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"],
.login-button,
.reset-btn,
.go-back-button {
    background: var(--raisinBlack);
    border: 2px solid var(--orange);
    color: var(--orange);
    border-radius: 5px;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 600;
    transition: 0.3s;
}

button:hover,
.login-button:hover,
.reset-btn:hover,
.go-back-button:hover {
    background: var(--orange);
    border: 2px solid var(--raisinBlack);
    color: var(--raisinBlack);
}

button:active {
    scale: 0.95;
}
.hero-container {
    position: relative;
}

.hero {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 56px;
}
.searchfield-container form > * {
    margin: 5px;
}
.searchfield-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 10px;
}
.recipes-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    font-size: 36px;
}
.recipes-list li a:hover {
    color: var(--orange);
    transition: 0.3s;
}

.recipes-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.nav-btn-container {
    display: flex;
    justify-content: center;
    gap: 1000px;
    margin-top: 30px;
}
.logout-btn-container {
    display: flex;
    justify-content: end;
    margin-right: 250px;
}

select {
    height: 25px;
    font-weight: 600;
    font: inherit;
    border-radius: 5px;
}

.recipe-card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h2 {
    margin: 10px 0 10px 0;
    font-size: 2rem;
}
h3 {
    margin: 5px 0 5px 0;
    font-size: 1rem;
}
h4 {
    font-size: 1.3rem;
    text-align: center;
}

.recipe-ingredients,
.instructions {
    margin: 15px 30% 10px 30%;
}

.author {
    margin-top: 20px;
    font-size: 1rem;
}

article {
    margin-bottom: 50px;
}

.recipe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
